@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans';
}
p{
    margin: 0px;
    
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
}
.box{
    margin: 0.5rem;
    padding: 0.5rem;
    border: solid 1px black;
    height: 1920px;
    width: 1080px;
}

.imgdiv {
    margin-top: 15px;
    img{
        height: 3rem;
    }
}

.invoice{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    .invoiceDetail{
        margin-top: 7px;
        p{
            font-size: 19px;
        }
    }
    h1{
        font-weight: 700;
        font-size: 3rem;
    }
}

.details{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    .fromTo{
        width: 30rem;
    }
    .otherInfo{
        width: 15rem;
    }
}

.tableInfo{
    width: 100%;
    text-align: left;
    margin-top: 3rem;
}
table{
    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid;
}

.Amount{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.roundOff{
    width: 15rem;
}
.container{
    height: 100%;
}

.sign {
    margin-top: 100%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    p{
        font-size: 20px;
    }
}
  
