@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Global styles */
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.box {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid black;
}

.imgdiv {
    margin-top: 15px;
}

.imgdiv img {
    height: 3rem;
}

.invoice {
    margin-top: 1rem;
    display: table;
    width: 100%;
}

.invoice h1 {
    font-weight: 700;
    font-size: 3rem;
    display: table-cell;
    vertical-align: middle;
}

.invoiceDetail {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

.invoiceDetail p {
    font-size: 19px;
}

.details {
    margin-top: 2rem;
    display: table;
    width: 100%;
}

.fromTo {
    display: table-cell;
    width: 70%;
    vertical-align: top;
}

.otherInfo {
    display: table-cell;
    width: 30%;
    vertical-align: top;
}

.tableInfo {
    width: 100%;
    text-align: left;
    margin-top: 3rem;
    border-collapse: collapse;
}

.tableInfo th, .tableInfo td {
    border: 1px solid black;
    padding: 8px;
}

.Amount {
    margin-top: 1rem;
    display: table;
    width: 100%;
}

.bankDetail {
    display: table-cell;
    width: 60%;
    vertical-align: top;
}

.bankDetail p {
    margin-bottom: 5px;
}

.Total {
    display: table-cell;
    width: 40%;
    vertical-align: top;
    text-align: right;
}

.Total td {
    padding: 8px;
    border: none;
}

.roundOff {
    width: 100%;
    word-wrap: break-word;
}

.sign {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sign .authorized {
    text-align: center;
}

.sign .authorized hr {
    margin: 5px auto;
    width: 50%;
}
